.jumbotron{
	background-image: url("../image/jjjjjjj.jpeg");
	 background-repeat: no-repeat;
	 background-size: 100%;
	 color: #ecf0f1;
	 margin-bottom: 0px; 
}
.mylead{

	background-color:#2c3e50;
}
.myfontcolor{
	color: #868e96;
}
#Prodact {
    background-color: #FFFFFF;
}
.mypadding{
	padding-top: 40px;
}
.myimg{
	margin-left: 30%;

}
.mylist{
	list-style: none;
}
.myText {
    text-align: center;
    font-style: italic;
    font-family: monospace;
    font-size: 40px;
    color: #09757a;
}
.myMargin{
	margin-top: 100px;


}
p.des {
    margin-bottom: 50px;
    margin-top: 60px;
}
img.d-flex.mr-3 {
    size: auto;
    max-width: 400%;
    height: auto;
}
h5.mt-0 {
    font-size: 40px;
    color: black;
}
#contact-us{
    background-color: #fff;
}
#contact-us i {
    color: #09757a;
    font-size: 40px;
    padding-bottom: 10px;
}
#contact-us button{
    background-color: transparent;
    border: 1px solid #0ec09c;
    border-radius: 5px;
    color:#0ec09c;
}
#contact-us button:hover{
    color:white;
    background-color: #0ec09c;
}


textarea{
    resize: none;
}
footer{
    background-color: #0ec09c;;
    padding: 30px;
}
footer i{
    color: white;
    font-size: 60px;
    padding: 20px;
}
@media(max-width: 576){
    #slider{
        display: :none;
    }
    #form1{
        position: absolute;
        top: 0;
        z-index: 99999;
        padding: 77px;
    }
    .col-md-6.mycol.col-sm-12.o {
        max-width: 100%;
    }
    .btn.btn-danger1 {
        color: #0c0e0e;
        background-color: #09757a;
        border-color: #212529;
    }
